html,
body {
   padding: 0;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
      body,
      body > div:first-child,
      div#__next,
      div#__next > div 
      {
        height: 100%;
      }

a {
   color: inherit;
   text-decoration: none;
}

* {
   box-sizing: border-box;
}

table, th, td {
   /* border: 1px solid black; */
}

tr {
   /* border: 1px solid rgb(173, 31, 31); */
}
table{
   /* border-collapse: collapse; */
}